@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <div class="container banner w-100">
        <img class="img-fluid" src="/Image/Banner.png" alt="logo with abtract art" />
        <div class="buttonBar text-center">
            <a href="#HowTo"class="btn btn-danger btn-lg m-3">Get Started</a>
            <a href="#About" class="btn btn-lg  btn-danger"> Learn More </a>

        </div>
    </div>

    <div id="About" class="container  aboutsec vw-100">
        <h2 class="font-weight-bold"> About</h2>
        <p>
            Card finder is a tool to help make choosing the right credit card easy for consumers. Instead of using traditional filters and comparison tables to help narrow down a users search,
            Card Finder leverages lifelike conversational AI to make suggestions on potential credit card matches through a virtual agent. This allows users to engage in a conversation about their specific needs or interests
            as if they were talking to a representative.
        </p>
    </div>
    <br />
    <div id="HowTo" class="container how-to text-white">

        <h2 class="font-weight-bold"> How to use </h2>
        <ol>
            <li>
                click the messenger button in the botttom left hand corner
                <div class=" container mt-3 p-2 w-auto align-self-center">
                    <img src="~/Image/messenger icon.png" alt="picture of the button" />
                    <img src="https://media.tenor.com/images/4b7df91c7dd183868a6eda97858d5fc5/tenor.gif" alt="arrow gif" width="100" height="64" />
                </div>
            </li>
            <li>
                <p> Next greet Ona to start the conversation </p>
                <img class="mx-auto" src="~/Image/say hello.png" alt="image of a messenger window" />
            </li>
            <li>
                <p>
                    type "show me travel cards " or "what is APR"
                </p>
                <div class="alert alert-warning">
                    <strong> Warning</strong> Ona will only recognize requests for travel cards and cards for fair credit and general FAQ. Updates will be made available on a continuious basis.
                </div>
                <img class="mx-auto" src="~/Image/travel cards intent.png" alt="image of user asking ona about travel cards" />
            </li>
            <li>
                <p> follow the prompts asking for moreinformation </p>
                <img class="mx-auto" src="~/Image/more-info.png " alt="demo pic" />
            </li>
            <li>
                <p>  once you've given Ona enough information she will send back some suggestions </p>
                <img class="mx-auto" src="~/Image/result-pic.png" alt="demo pic" />
            </li>
        </ol>



    </div>

    <br />
    <br />
    <br />
   


    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger-cx/bootstrap.js?v=1"></script>
    <df-messenger df-cx="true"
                  location="us-central1"
                  chat-title="Ona "
                  agent-id="9d770346-3942-4b8c-8aa6-d12def398ed6"
                  language-code="en">

    </df-messenger>
</div>


    
