@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<div class="container-fluid">
    <div id="Resources" class="container w-100 ">
        <img class="img-fluid align-self-center" src="https://img.freepik.com/free-vector/characters-people-making-credit-card-transaction_53876-32630.jpg?size=626&ext=jpg" />
        <h2> Helpful resources for credit card users </h2>
        <ul class="list-group main ">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#Basics">
                    Basics
                    <span class="badge badge-primary badge-pill">4</span>
                </a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#Debt">
                    Debt
                    <span class="badge badge-primary badge-pill">3</span>
                </a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#KeyTerms">
                    Key terms
                    <span class="badge badge-primary badge-pill">4</span>
                </a>
            </li>
        </ul>
        <div id="Basics">
            <h3> Basics</h3>
            <ul>
                <li>
                    <a class="text-white" href="https://www.consumerfinance.gov/ask-cfpb/do-joint-credit-card-accounts-with-my-spouse-affect-my-credit-score-en-1289/">
                        Do joint credit card accounts with my spouse affect my credit score
                    </a>
                </li>
                <li> <a class="text-white" href="https://www.creditcardinsider.com/learn/">Credit Card Basics </a></li>
                <li> <a class="text-white" href="https://www.consolidatedcredit.org/financial-resources/use-credit-cards-wisely/">  Learn to Use Credit Cards Wisely</a></li>
                <li> <a class="text-white" href="https://www.consumerfinance.gov/ask-cfpb/what-is-the-difference-between-a-fixed-apr-and-a-variable-apr-en-45/"> Learn the difference between a fixed and variable APR</a></li>
            </ul>
        </div>
        <div id="Debt">
            <h3> Debt </h3>
            <ul>
                <li> <a class="text-white" href="https://www.consumerfinance.gov/ask-cfpb/what-do-i-need-to-know-if-im-thinking-about-consolidating-my-credit-card-debt-en-1861/">What do I need to know if I’m thinking about consolidating my credit card debt? </a></li>
                <li> <a class="text-white" href="https://www.consumerfinance.gov/ask-cfpb/what-should-i-do-if-i-cant-pay-my-credit-card-bills-en-1697/">What should I do if I can’t pay my credit card bills? </a></li>
                <li> <a class="text-white" href="https://www.consumerfinance.gov/ask-cfpb/i-was-an-authorized-user-on-my-deceased-relatives-credit-card-account-am-i-liable-to-repay-the-debt-en-1485/">I was an authorized user on my deceased relative’s credit card account. Am I liable to repay the debt? </a></li>

            </ul>
        </div>
        <div id="KeyTerms">
            <h3>Key terms </h3>
            <ul>
                <li> <a class="text-white" href="https://www.consumerfinance.gov/consumer-tools/credit-cards/answers/key-terms/#annual-percentage-rate-apr"> Annual Percentage Rate </a></li>
                <li> <a class="text-white" href="https://www.consumerfinance.gov/consumer-tools/credit-cards/answers/key-terms/#balance-transfer"> Balance Transfer </a></li>
                <li> <a class="text-white" href="https://www.consumerfinance.gov/consumer-tools/credit-cards/answers/key-terms/#interest-rate"> Interest Rate </a></li>
                <li> <a class="text-white" href="https://www.consumerfinance.gov/consumer-tools/credit-cards/answers/key-terms/#unauthorized-use">Unauthorized use </a></li>
            </ul>
        </div>
    </div>
</div>
