/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    scroll-behavior: smooth;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.7rem;
}


a {
  color : darkblue;
}

h1 {
    text-align: center;
    
}

h2 {
    padding: 5px;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

p {
    padding: 5px;
    text-align: left;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}
ol {
    font-size: 1.3rem;
    padding: 4px;
}
/* styles for dialogflow messenger*/
df-messenger {
    --df-messenger-bot-message: ghostwhite;
    --df-messenger-button-titlebar-color: #ffd23f;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: #0F0F0F;
    --df-messenger-send-icon: #C03221;
    --df-messenger-user-message: white;
}
#Resources h2 , ul, img{
    padding: 20px;
    
}
#Resources ul {
    font-size: 1.5rem;
}
.list-group {
    padding: 5px;
    margin: 50px;
}

.banner {
    display: block;
}
 

/*Button styles*/
.btn {
    padding: 6px;
    margin-right: 35px;
    text-align: center;
    color: ghostwhite;
    background-color: #C03221;
}

 .btn.learn-more {
        color: ghostwhite;
        background-color: #F7DD72;
 }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container{
   padding: 12px 100px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*About section styles*/

.aboutsec 
{
    margin-top: 100px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #0003ff;
    color: ghostwhite;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #1E2749;
   
}
